.background {

    background-color: rgb(228, 227, 227);
}

.box {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 80px;
    background-color: #FEE17A;
    display: flex;
}
.header h1{
    position: relative;
    margin-left: 20px;
    font-family: 'GeekbleMalang2';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.8);
}

.hospital-form-title {
    padding: 10px;
    text-align: center;
}

.hospital-form-title h1 {
    margin: 0;
    font-size: 24px;
}

.form-field {

    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label-date {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 10px;
    margin-bottom: 100px;
    margin-right: 100px;

}


.form-field input[type="date"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-bottom: 90px;
    border: 1px solid black;
}

.form-label-symptoms {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 10px;
    margin-bottom: 100px;
    margin-right: 100px;

}

.form-field textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
    margin-bottom: 90px;
}

.form-label-cost {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 10px;
    margin-bottom: 100px;
    margin-right: 100px;

}
.form-field input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-bottom: 90px;
    border: 1px solid black;
}


.form-label-note {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.submit-button {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.form-button-submit {
    background-color: rgba(252, 199, 13, 0.55);
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 300px;

}

