.background {
    background-color: rgb(228, 227, 227);
}

.box {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 80px;
    background-color: #FEE17A;
    display: flex;
}

.box2 {
    padding: 50px 0;
    font-family: "NEXON Lv1 Gothic";
}

.welcome{
    font-family: "NEXON Lv1 Gothic";
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.loginInput{
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;
    padding: 20px 40px;

}

input {

    width: 200px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    font-family: "NEXON Lv1 Gothic";
}

.Id {

    margin-left:15px;
}

.login{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.login-button{
    width: 250px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    font-family: "NEXON Lv1 Gothic";
}

.Integration-login{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.logo{
    display: grid;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.kakao{
    width: 250px;
    height: 40px;
    padding: 5px;
    font-family: "NEXON Lv1 Gothic";
    background-color:rgb(255, 217, 0);
    border: none;
    border-radius: 5px;
    color: white;
}
.naver{

    width: 250px;
    height: 40px;
    padding: 5px;
    font-family: "NEXON Lv1 Gothic";
    background-color:rgb(5, 182, 28);
    border: none;
    border-radius: 5px;
    color: white;
}
.google{
    width: 250px;
    height: 40px;
    padding: 5px;
    font-family: "NEXON Lv1 Gothic";
    background-color:rgb(187, 187, 186);
    border: none;
    border-radius: 5px;
    color: white;
}

.go-signup{
    margin-top:10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
}