<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron"> <h1>말랑콩떡</h1>
        <p class="lead">pet 등록 기능</p> <p>
            <a class="btn btn-lg btn-secondary" href="/pets/new">반려동물등록</a>
            <a class="btn btn-lg btn-secondary" href="/pets">반려동물 목록</a> </p>
        <a class="btn btn-lg btn-secondary" href="/order/new">주문하기</a>
        <a class="btn btn-lg btn-secondary" href="/order/list">주문목록</a>
        <a class="btn btn-lg btn-secondary" href="/auth/login">login</a> </p>
        <a class="btn btn-lg btn-secondary" href="/auth/join">join</a> </p>

    </div>
</div>
</body>
</html>
